img.octocat {
    height: 200px;
    background-color: white;
}
.container {
    background-color: rgb(245, 244, 244);
    width: 800px;
    padding: 10px;
    border-top: 3px solid black;
}
h1 {
    text-align: center;
    color: rgb(58, 58, 124);
    margin: 0px;
    font-size: 40px;
}
.col-1 {
    background-color: rgb(113, 252, 252);
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-2 {
    background-color: pink;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.col-3 {
    background-color: white;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p {
    text-align: center;
}
a {
    color: rgb(101, 101, 255);
}
